{% extends 'base.html.twig' %}

{% block title %}Votre Profile{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <main>
        <div id="profilHeader">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <h1>Bienvenue {{app.user.getPrenomUser}} {{app.user.getNomUser}}.</h1>
            {% endif %}
            <p>Vous êtes enregistré en tant <span id="typeUser">qu'élève</span> sur cette plateforme.</p>
        </div>
        <div id="infoProfil">
            <p>Appuyer sur le bouton ci-dessous pour accéder l'espace d'administration</p>
            <a href="{{path('espace_admin')}}" class="btn btn-info" id="btnProfilAdmin">
                Accéder à l'espace administration
            </a>
        </div>
    </main>
{% endblock %}
