{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle limite{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle limitation</h1>

    {% for message in app.flashes('SuccessLimite') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité2" id="formLimite">
            {{ include('limite/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div id="divAjout" class="form-actions">
            <button type="submit" class="btn btn-success" form="limiteForm">
                Enregistrer la limite
            </button>
            <a href="{{ path('limite_index') }}">
                <button class="btn btn-secondary" id="btnRetour">
                    Revenir dans la liste
                </button>
            </a>
        </div>
    </div>
{% endblock %}