/*Général*/
#btnRetour{
    margin: 0 0 0 15px;
}

#btnSuppr, #btnRetourSuppr{
    padding: 10px;
    font-size: 20px;
}

td span {
    display: block;
}

ul.pagination{
    margin-top: 20px;
    position: relative;
    justify-content: center;
    font-size: 15px;
}

#divRetour{
    margin-top: 20px;
}

/*Espace d'administration*/

#btnActive {
    padding: 0 0 10px 0;
}

.tableAdmin{
    margin: 30px 0;
    border: solid black;
}

.tableAdmin span{
    display: block;
}

.tableAdmin button a{
    font-size: 30px;
}

.tableAdmin th, .tableAdmin td{
    border: solid black;
    font-size: 17px;
    padding: 0.25rem;
    vertical-align: middle!important;
}

.tableAdmin p{
    font-size: 25px;
    margin-bottom: 0;
}

i.far.fa-edit, i.fas.fa-trash{
    font-size: 15px;
    padding: 10px;
}

table img{
    width: 80px;
    height: 80px;
}

table a.btn.btn-info{
    margin: 12px 0;
    font-size: 15px;
}

#btnAdmin0{
    padding: 15px 100px;
}

#btnAdmin1{
    padding: 15px 105px;
}

#btnAdmin2{
    padding: 15px 107px;
}

#btnAdmin3{
    padding: 15px 94px;
}

#btnAdmin4{
    padding: 15px 111px;
}

#btnAdmin5{
    padding: 15px 113px;
}

#btnAdmin6{
    padding: 15px 114px;
}

#btnAdmin7{
    padding: 15px 100px;
}

#btnAdmin8{
    padding: 15px 101px;
}

#btnAdmin9{
    padding: 15px 99px;
}

#btnAdmin10{
    padding: 15px 120px;
}

#warning{
    color: red;
    border: solid;
    position: relative;
}

/*Page de suppression*/

#warning p{
    font-size: 35px;
}

.tableSuppr, .tableSuppr th, .tableSuppr td {
    border: red solid 2px;
    vertical-align: middle;
}

/*Filtre des pages de gestions et listes*/

#filtre{
    display: flex;
    justify-content: center
}

#filtre form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#filtre span{
    font-size: 20px;
}

#filtre select, #filtre input{
    height: 30px;
    font-size: 15px;
}

#filtre button{
    padding: 5px 10px;
    font-size: 15px;
}

#filtre div{
    margin: 0 10px 0 0;
    float: left;
}

#filtre #left p{
    font-size: 30px;
    margin: 8px 0 0 0;
}

#submitFiltre {
    margin-left: 20px;
}

/*Filtre de gestion des élèves*/

#filtreEleve form{
    font-size: 22px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div#filtreEleve{
    padding-top: 30px;
}

div#filtreEleve.filtre label{
    margin: 0 0 0 20px;
}

#filtreEleve.filtre select , #filtreEleve.filtre input{
    font-size: 20px;
}

/*Formulaire d'ajout par une liste*/
.fichierForm form{
    flex-direction: column;
}

/*Les Formulaires d'ajout et de modification des utilisateurs*/

#formUser.formEntité2 div#user_roles label, #formUser select#user_roles_1,
#formUser select#user_roles_2{
    display: none;
}

#formUser.formEntité2 div#screenRight div:first-child, div#user_roles div{
    padding-bottom: 0;
}

#formUser.formEntité2 div#screenRight div:first-child{
    display: contents;
}

#formUser.formEntité2 ul li,
#formResetMdp ul li,#formRegister ul li, #formUserProfile ul li{
    font-size: 15px;
    font-weight: bold;
    color: red;
}

/* Formulaire de limitation */

div#limitation_commande_heureLimite {
    display: flex;
}

/*Liste des commandes admin*/
table form {
    padding: unset;
}

table form button.btn-danger {
    font-size: 10px;
}

/*Page de profil*/

#profilHeader{
    margin: 5% 0 3% 10%;
}

#profilHeader p, #infoProfil p{
    font-size: 20px;
}

#profilHeader h1,#profilHeader p{
    text-align: left;
}

#typeUser{
    font-weight: bold;
    font-style: italic;
}

#btnProfilAcces1 {
    padding: 15px 100px;
}

#btnProfilAcces2 {
    padding: 15px 40px;
}

#btnProfilAcces3 {
    padding: 15px 50px;
}

#btnProfilAcces4 {
    padding: 15px 56px;
}

/*Profil d'un élève*/

.fa-times, .fa-check {
    font-size: 2em;
}

.fa-times {
    color: red;
}

.fa-check {
    color: green;
}

/*Responsive pour les tablettes/orientation paysage pour téléphones */
@media screen and (max-device-width: 1100px){
    /*Général*/
    table img {
        width: 5em;
        height: 5em;
    }

    /*Espace Administration*/
    #btnSuppr, #btnRetourSuppr {
        padding: 1em;
        font-size: 1.25em;
    }

    #btnAdmin0 ,#btnAdmin1, #btnAdmin2, #btnAdmin3, #btnAdmin4,
    #btnAdmin5, #btnAdmin6, #btnAdmin7, #btnAdmin8, #btnAdmin9, #btnAdmin10 {
        font-size: 1em;
    }

    #btnAdmin1 {
        padding: 15px 110px;
    }

    #btnAdmin2 {
        padding: 15px 112px;
    }

    #btnAdmin3 {
        padding: 15px 91px;
    }

    #btnAdmin4 {
        padding: 15px 118px;
    }

    #btnAdmin5 {
        padding: 15px 117px;
    }

    #btnAdmin6 {
        padding: 15px 122px;
    }

    #btnAdmin8 {
        padding: 15px 104px;
    }

    #btnAdmin9 {
        padding: 15px 98px;
    }

    #btnAdmin10 {
        padding: 15px 132px;
    }

    /*Filtre*/
    #filtre label {
        font-size: 2em;
    }
    #filtre div {
        margin: 0 1em 0.5em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #filtre select, #filtre input {
        height: 2em;
        font-size: 1em;
    }

    #filtre button {
        padding: 1em 2em;
        font-size: 1em;
    }

    /*Tableau*/

    .tableAdmin th, .tableAdmin td {
        font-size: 1.5em;
    }

    i.far.fa-edit, i.fas.fa-trash {
        font-size: 1.25em;
        padding: 1em;
    }
}
/*Responsive pour les téléphones mode portrait*/
@media screen and (max-device-width: 700px) {
    /*Page de profil élève*/

    #btnProfilAcces1 {
        padding: 15px 140px;
    }

    #btnProfilAcces2 {
        padding: 15px 15px;
    }

    #btnProfilAcces3 {
        padding: 15px 37px;
    }

    #btnProfilAcces4 {
        padding: 15px 50px;
    }

    /*Espace administration*/
    table img {
        width: 6em;
        height: 6em;
    }

    .tableAdmin th, .tableAdmin td, .tableSuppr th, .tableSuppr td {
        font-size: 2em;
    }

    table a.btn.btn-info, table form .btn.btn-danger, table .btn.btn-success{
        font-size: 1em;
    }

    #btnAdmin1{
        padding: 15px 111px;
    }

    #btnAdmin2{
        padding: 15px 113px;
    }

    #btnAdmin3{
        padding: 15px 88px;
    }

    #btnAdmin4{
        padding: 15px 124px;
    }

    #btnAdmin5{
        padding: 15px 123px;
    }

    #btnAdmin6{
        padding: 15px 130px;
    }

    #btnAdmin7{
        padding: 15px 99px;
    }

    #btnAdmin8{
        padding: 15px 105px;
    }

    #btnAdmin9{
        padding: 15px 93px;
    }

    #btnAdmin10{
        padding: 15px 142px;
    }

    /*Page de gestion*/
    i.far.fa-edit, i.fas.fa-trash {
        font-size: 2em;
        padding: 1em;
    }

    ul.pagination {
        font-size: 3em;
    }

    #btnRetour {
        margin: 0 0 1em 0;
    }

    /*Filtre*/
    #filtre{
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }

    .selectFiltre {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2em 1em 0;
        padding: 0;
    }

    #filtre select, #filtre input{
        height: 3em;
        font-size: 1em;
        width: 100%;
    }

    #submitFiltre button{
        padding: 1em 2em;
        font-size: 1em;
        margin-top: 1em;
    }

    #filtre button {
        padding: 1em 2em;
        font-size: 1em;
    }

    #filtre span {
        margin: 0 1em 0 2em;
    }

    #filtre #left p{
        font-size: 30px;
        margin: 8px 0 0 0;
    }



    /*Filtre de gestion des élèves*/

    #filtreEleve form{
        font-size: 2em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    div#filtreEleve{
        padding-top: 3em;
    }

    #filtreEleve.filtre select , #filtreEleve.filtre input{
        font-size: 2em;
    }

    /*Formulaire d'ajout + modification*/

    #warning p {
        font-size: 4em;
    }

    #btnSuppr, #btnRetourSuppr {
        padding: 1em;
        font-size: 2em;
        margin-top: 1em;
    }

    /*Page de profil*/

    #profilHeader p {
        font-size: 2em;
    }

    /*Formulaire d'ajout et de modification des adultes*/

    #btnAdulte {
        margin: 0;
    }

    /*Formulaire d'ajout et de modification des utilisateurs*/
    #formUser #user_eleve, #formUser #user_adulte{
        width: 80%;
        left: 10%;
        position: relative;
    }

    /*Filtre classe */
    #filterOrder button{
        margin-left: 2em;
    }

    /*Filtre détail classe*/
    #filterClasseEleve div {
        flex-wrap: wrap;
        margin: 0 0 1em 0;
        justify-content: center;
    }

    table #btnModal {
        font-size: 1.25em;
        padding: 30px;
    }

    /*Filtre gestion de commande*/
    #filterAdminCom div, #filterUser div{
        margin: 0 0.5rem 0.5em 0;
    }

    /*Modal exportation */
    .modal h1 {
        margin: 0;
    }
    .modal form select, .modal form input {
        font-size: 1.75em;
        margin-top: 0.5em;
    }

    .modal form div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
