/*Général*/
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    margin-top: 1em;
}

li {
    list-style: none;
}

form{
    font-size: 30px;
    padding: 30px;
}

label{
    font-size: 15px;
    margin: 0;
}

a, a:hover{
    text-decoration: none;
    color: white;
}

form div{
    padding-bottom: 10px;
}

.help-text{
    font-size: 13px;
    margin: 0;
    font-style: italic;
}

#part1{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#part2{
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
footer a, nav a, a.btn  {
    color: white;
    text-decoration: none;
}

#warning{
    color: red;
    border: solid;
    position: relative;
}

#warning p{
    font-size: 35px;
}

#btnAjout, #btnRetour, .btn.btn-success{
    padding: 10px;
    font-size: 15px;
}

.flash-success{
    font-size: 25px;
    color: green;
}
/*Barre de navigation*/

nav p , nav ul {
    margin: 0;
}

.nav-link {
    color: white!important;
    margin: 0 0.5em;
}

.navbar-nav {
    flex-direction: row;
}

.dropdown-toggle::after{
    bottom: 5px;
    margin: 0;
    position: relative;
}

#connexion a:hover{
    text-decoration: none;
}

#connexion p{
    bottom: 5px;
    display: inline;
    margin: 0 5px;
    position: relative;
}

#connexion i{
    font-size: 30px;
}

li#dropdownNav {
    margin-left: 2rem;
}

#dropdownProfile li:hover{
    color: white;
    background-color: gainsboro;
}

#dropdownProfile li a, #dropdownNav li a{
    color: black;
    font-size: 15px;
}

nav#mainNav {
    padding: 8px;
    background-color: #1E2B47;
}

#mainNav div.container-fluid{
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
}

.navbar .navbar-item{
    color: white;
}

.navbar-brand img{
    height: 60px;
}

/** Footer  **/

footer{
    background-color: #1E2B47;
    color: white;
    list-style: none;
    margin-top: 10%;
    text-align: -webkit-center;
}

footer i{
    font-size: 26px;
}

.coordonnees, .contact, .access, .networks {
    display: inline-table;
    padding: 35px;
}

.coordonnees p, .contact p, .access p{
    text-align: left;
    font-size: 15px;
    margin: 0;
}

.coordonnees h3, .contact h3, .access h3, .networks h3{
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
}

/*Page d'accueil */

#menuImg {
    height: 300px;
    width: 75%;
    margin-bottom: 3em;
}

#fileInputUser input{
    font-size: 15px;
}

/*formulaire de connexion*/

h6{
    font-size: 15px;
    margin-bottom: 40px;
}

#login, #login div#part1, #login div#part2{
    display: inline-block;
}

#formConnexion {
    padding: 0;
}

#formConnexion input{
    height: 25px;
}

#formConnexion label, #formRegister label{
    float: left;
}

#btnConnexion{
    margin-top: 15px;
}

p#login{
    display: block;
    bottom: 0;
}

input#rememberMe {
    height: unset;
}

#btnRegister{
    background-color: dimgrey;
    color: #fff;
    border-radius: 7px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
}

#login #part1 a.btn.btn-info{
    padding: 10px;
    font-size: 15px;
    margin: 15px 0 0 15px;
}

label span{
    color: red;
}

.erreur{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.erreur li{
    list-style: none;
    position: relative;
}

/*formulaire d'inscription*/

#formRegister form{
    display: flex;
    justify-content: center;
}

#formRegister .divInput, #formResetMdp .divInput{
    font-size: 15px;
    width: 80%;
}

#formRegister input, #formResetMdp input{
    width: 85%;
}

#formRegister input
{
    display: flex;
}

section#formRegister div.container-fluid, section#formResetMdp div.container-fluid {
    display: inline-block;
}

#formRegister input#registration_form_plainPassword_first{
    margin-bottom: 10px;
}

#formRegister ul{
    display: inline-block;
}

#formRegister ul li{
    position: relative;
    right: 5%;
}

#formRegister .help-text{
    text-align: left;
}

.row{
    justify-content: center;
}

/*CSS pour tout les formulaires de l'application*/

.formEntité div.container-fluid{
    display: inline-block;
    position: relative;
    right: 20%;
}

.formEntité form{
    display: flex;
    flex-direction: column;
}

.formEntité input{
    width: 50%;
    height: 30px;
    font-size: 15px;
}

.formEntité div.fileInput input{
    width: unset;
}

.formEntité select{
    font-size: 20px;
}

.formEntité2 form{
    display: flex;
    justify-content: center;
}

.formEntité2 #part1 {
    align-items: unset;
}

.formEntité2 .erreur li{
    right: 1%;
    text-align: left;
    font-size: 15px;
}

.formEntité2 input{
    width: 80%;
    position: relative;
    right: 10%;
    height: 30px;
    font-size: 15px;
}

.formEntité2 select{
    font-size: 20px;
    display: flex;
}

.formEntité2 label, .formEntité2 .help-text{
    display: flex;
}

div.divInput ,#formUserProfile .divInput{
    width: 100%;
}

form textarea {
    font-size: 20px;
    height: 150px;
    width: 100%;
}

/*Formulaire de réinitialisation de mot de passe */
#formResetMdp form{
    align-items: center;
}

/*Page de profil*/

#profilHeader{
    margin: 5% 0 3% 10%;
}

#profilHeader h1{
    font-size: 40px;
}

#profilHeader p, #infoProfil p{
    font-size: 20px;
}

#profilHeader h1,#profilHeader p{
    text-align: left;
}

#typeUser{
    font-weight: bold;
    font-style: italic;
}

/*Responsive de la barre de navigation*/
@media screen and (max-width: 990px) {
    /*Navbar*/
    div#dropdownProfile ul.dropdown-menu {
        position: unset;
    }

    .navbar-nav {
        flex-direction: column;
    }
}
/*Responsive pour les téléphones */
@media screen and (max-device-width: 700px) {
    /*Général*/
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 2.5em
    }

    #btnAjout, #btnRetour, .btn.btn-success {
        padding: 30px;
        font-size: 3.5em;
        margin-bottom: 1em;
    }

    /*Navbar*/
    nav#mainNav{
        padding: 2em;
        flex-direction: column;
    }

    .navbar-brand img {
        height: 150px;
    }

    button.navbar-toggler {
        font-size: 5em;
    }

    .nav-link, #connexion i, #dropdownProfile li a, p{
        font-size: 2em;
    }

    /*Page d'accueil*/
    #menuImg {
        height: 40em;
        width: unset;
        margin-bottom: 3em;
    }

    #fileInputUser input {
        font-size: 1.5em;
        margin: 1em 0;
    }

    /* Footer */
    footer i{
        font-size: 2.5em;
    }

    .coordonnees, .contact, .access, .networks {
        display: unset;
    }

    .coordonnees p, .contact p, .access p{
        text-align: unset;
        font-size: 2em;
    }

    .coordonnees h3, .contact h3, .access h3, .networks h3{
        text-align: unset;
        font-size: 2em;
    }

}