/*Général*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    text-align: center;
}

h1{
    margin-top: 1em;
}

li {
    list-style: none;
}

form{
    font-size: 30px;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: center;
}

label{
    font-size: 1.25rem;
    margin: 0;
}

a, a:hover{
    text-decoration: none;
    color: white;
}

form div{
    padding-bottom: 10px;
}

.help-text{
    font-size: 13px;
    margin: 0;
    font-style: italic;
}

#screenLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#screenRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

footer a, nav a, a.btn  {
    color: white;
    text-decoration: none;
}

#warning{
    color: red;
    border: solid;
    position: relative;
}

#warning p{
    font-size: 35px;
}

#btnAjout, #btnRetour, .btn.btn-success{
    padding: 10px;
    font-size: 15px;
}

.flash-success{
    font-size: 25px;
    color: green;
}
/*Barre de navigation*/

nav p , nav ul {
    margin: 0;
}

.nav-link {
    color: white!important;
    margin: 0 0.5em;
}

.navbar-nav {
    flex-direction: row;
}

.dropdown-toggle::after{
    bottom: 5px;
    margin: 0;
    position: relative;
}

#connexion a:hover{
    text-decoration: none;
}

#connexion p{
    display: inline;
    margin: 0 5px;
    position: relative;
}

#connexion i{
    font-size: 25px;
}

.fa-user-circle:before {
    display: flex;
    justify-content: center;
}

li#dropdownNav {
    margin-left: 2rem;
}

#dropdownProfile li:hover{
    color: white;
    background-color: gainsboro;
}

#dropdownProfile li a, #dropdownNav li a{
    color: black;
    font-size: 15px;
}

nav#mainNav {
    padding: 8px;
    background-color: #1E2B47;
}

#mainNav div.container-fluid{
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
}

.navbar .navbar-item{
    color: white;
}

.navbar-brand img{
    height: 60px;
}

/** Footer  **/

footer{
    background-color: #1E2B47;
    color: white;
    list-style: none;
    margin-top: 10%;
    text-align: -webkit-center;
}

footer i{
    font-size: 26px;
}

.coordonnees, .contact, .access, .networks {
    display: inline-table;
    padding: 35px;
}

.coordonnees p, .contact p, .access p{
    text-align: left;
    font-size: 15px;
    margin: 0;
}

.coordonnees h3, .contact h3, .access h3, .networks h3{
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
}

/*Page d'accueil */

#formMenu form {
    flex-direction: column;
}

#menuImg {
    height: 400px;
    width: 85%;
    margin-bottom: 3em;
}

#menuImgModal {
    height: 600px;
    width: 100%;
}

#btnModal {
    font-size: 15px;
    padding: 20px;
}

.btn-close {
    font-size: 15px;
}

.modal-footer button {
    font-size: 15px;
    padding: 20px;
}

#fileInputUser input{
    font-size: 15px;
}

/*Page d'erreur ou désactivation*/

img#errorPage {
    margin-top: 1em;
}

/*formulaire de connexion*/

h6{
    font-size: 15px;
    margin-bottom: 40px;
}

#login, #login div#screenLeft, #login div#screenRight{
    display: flex;
    align-items: stretch;
    align-content: space-between;
}

#login div#screenLeft {
    margin-right: 2em;
}

#formConnexion {
    padding: 0;
    display: unset;
}

#formConnexion input{
    height: 25px;
}

#formConnexion label, #formRegister label{
    float: left;
}

p#login{
    display: block;
    bottom: 0;
}

input#rememberMe {
    height: unset;
}

#btnRegister{
    background-color: dimgrey;
    color: #fff;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 0.25rem;
}

#login #screenLeft a.btn.btn-info{
    padding: 10px;
    font-size: 15px;
}

#loginSubmit {
    margin-top: 20px;
}

label span{
    color: red;
}

.erreur{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.erreur li{
    list-style: none;
    position: relative;
}

/*formulaire d'inscription*/

#formRegister form{
    display: flex;
    justify-content: center;
}

#formRegister .divInput, #formResetMdp .divInput{
    font-size: 15px;
    width: 80%;
}

#formRegister input, #formResetMdp input{
    width: 85%;
}

#formRegister input
{
    display: flex;
}

section#formRegister div.container-fluid, section#formResetMdp div.container-fluid {
    display: inline-block;
}

#formRegister input#registration_form_plainPassword_first{
    margin-bottom: 10px;
}

#formRegister ul{
    display: inline-block;
}

#formRegister #screenRight div.divInput ul {
    display: none;
}

#formRegister .erreur{
    padding: 0 0 10px 0;
}

#formRegister .help-text{
    text-align: left;
}

.row{
    justify-content: center;
}

/*CSS pour tout les formulaires de l'application*/

div.erreur ul{
    margin: 0;
    padding: 0;
}

.formEntité div.container-fluid{
    display: inline-block;
    position: relative;
    right: 20%;
}

.formEntité form{
    display: flex;
    flex-direction: column;
}

.formEntité input{
    width: 50%;
    height: 30px;
    font-size: 15px;
}

.formEntité div.fileInput input{
    width: unset;
}

.formEntité select{
    font-size: 20px;
}

.formEntité2 form{
    display: flex;
    justify-content: center;
}

.formEntité2 #screenLeft {
    align-items: unset;
}

.formEntité2 .erreur li{
    right: 1%;
    text-align: left;
    font-size: 15px;
}

.formEntité2 input{
    width: 80%;
    position: relative;
    right: 10%;
    height: 30px;
    font-size: 15px;
}

.formEntité2 select{
    font-size: 20px;
    display: flex;
}

.formEntité2 label, .formEntité2 .help-text{
    display: flex;
}

div.divInput ,#formUserProfile .divInput{
    width: 100%;
}

form textarea {
    font-size: 20px;
    height: 150px;
    width: 100%;
}

/*Formulaire de réinitialisation de mot de passe */
#formResetMdp form{
    align-items: center;
}

#formResetMdp label, #formExport label{
    display: flex;
    justify-content: center;
}

/*Listes des commandes*/

.tableAdmin span{
    display: block;
}

.invalidCommande {
    color: red;
    font-weight: 900;
}

/*Formulaire de Commandes individuelle et groupé*/

#commande_individuelle_sandwichChoisi, #commande_individuelle_dessertChoisi,
#commande_individuelle_boissonChoisie {
    display: none;
}

#commande_groupe_sandwichChoisi1 , #commande_groupe_sandwichChoisi2,
#commande_groupe_dessertChoisi{
    display: none;
}

 #sandwichCarousel img, #dessertCarousel img,#sandwich1Carousel img, #sandwich2Carousel img {
    height: 200px;
    width: 80%;
}

#boissonCarousel img {
    height: 290px;
    width: 80%;
}

.carousel-inner label{
    flex-direction: column;
    align-items: center;
    border: solid;
}

.carousel-inner label span{
    color: black;
    font-style: italic;
}

.carousel-inner input {
    position: unset;
    right: unset;
    margin: 0.5em 0;
}

div#preciserRaison {
    display: none;
}

#commandeFormInd #screenRight, #commandeFormGroupe #screenRight{
    align-items: unset;
    margin-left: 1em;
}

/*Responsive de la barre de navigation*/
@media screen and (max-width: 990px) {
    /*Navbar*/
    div#dropdownProfile ul.dropdown-menu {
        position: unset;
    }

    .navbar-nav {
        flex-direction: column;
    }
}
/*Responsive pour les téléphones */
@media screen and (max-device-width: 700px) {
    /*Général*/
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 2.5em
    }

    form {
        padding: 0;
    }

    .flash-success , .erreur{
        font-size: 4em;
    }

    /*Navbar*/
    nav#mainNav{
        padding: 2em;
        flex-direction: column;
    }

    .navbar-brand img {
        height: 150px;
    }

    button.navbar-toggler {
        font-size: 5em;
    }

    .nav-item,.nav-link, p{
        font-size: 2em;
    }

    #dropdownProfile li a {
        font-size: 3em;
    }

    #connexion i {
        font-size: 5rem;
    }

    .fa-user-circle:before {
        display: inline;
        margin-right: 20px;
    }

    /*Page d'accueil*/
    #menuImg {
        height: 40em;
        margin-bottom: 3em;
    }

    #fileInputUser input{
        font-size: 1.5em;
        margin: 1em 0;
        border: unset;
    }

    #btnModal {
        font-size: 2.5em;
        padding: 30px;
        margin: 0.5em 0;
    }

    #menuImgModal {
        height: 46em;
        width: 100%;
    }

    .btn-close {
        font-size: 2.5em;
    }

    .modal-footer button {
        font-size: 1.5em;
        padding: 30px;
    }

    img#errorPage {
        height: 15em;
    }

    /* Footer */
    footer i{
        font-size: 2.5em;
        padding-bottom: 1em;
    }

    .coordonnees, .contact, .access, .networks {
        display: unset;
    }

    .coordonnees p, .contact p, .access p{
        text-align: unset;
        font-size: 3em;
    }

    .coordonnees h3, .contact h3, .access h3, .networks h3{
        text-align: unset;
        font-size: 3em;
    }

    /*Formulaire*/
    form {
        flex-direction: column;
    }

    form div {
        padding-bottom: 1.5em;
    }

    form textarea {
        width: 100%;
        font-size: 3em;
        height: 5em;
    }

    #btnAjout, #btnRetour, .btn.btn-success {
        padding: 30px;
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    #btnProfilAdmin{
        font-size: 3.5em;
    }

    label {
        font-size: 1.5em;
    }

    .help-text{
        font-size: 1.5em;
    }

    #screenLeft , #screenRight {
        width: 100%;
        align-items: center;
    }

    #screenRight div {
        padding: 0;
    }

    div.divInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.fileInput input{
        border: unset;
        font-size: 1em;
    }

    div.divInput input, textarea {
        border: solid;
        font-size: 2em;
    }

    #divAjout {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 1em;
    }

    .formEntité2 form {
        flex-direction: column;
        align-items: center;
    }
    .formEntité2 label, .formEntité2 .help-text {
        display: flex;
        justify-content: center;
    }

    .formEntité2 input, .formEntité input{
        width: 100%;
        height: 2em;
        font-size: 2em;
        text-align: left;
        right: unset;
        position: unset;
    }

    .formEntité2 select, .formEntité select {
        font-size: 3em;
        justify-content: center;
    }

    /*Formulaire de connexion*/

    h6{
        font-size: 2em;
        margin-bottom: 40px;
    }

    #login, #login div#screenLeft, #login div#screenRight {
        flex-direction: column;
    }

    #formConnexion input, #formRegister input, #formResetMdp input{
        height: 4em;
        font-size: 1em;
    }

    #login #screenLeft a.btn.btn-info{
        padding: 30px;
        font-size: 3.5em;
    }

    #formConnexion label, #formRegister label{
        float: unset;
    }

    input#rememberMe {
        height: 40px;
        transform: scale(3.5);
        margin-right: 20px;
    }

    #btnRegister{
        padding: 30px;
        font-size: 2.5em;
    }

    /*Formulaire d'inscription*/
    section#formRegister div.container-fluid, section#formResetMdp div.container-fluid {
        display: flex;
        flex-direction: column;
    }

    #formRegister form {
        flex-direction: column;
    }

    #formRegister .help-text {
        display: flex;
        justify-content: center;
        text-align: unset;
    }

    #formRegister input, #formResetMdp input {
        width: 100%;
    }

    #formRegister .divInput, #formResetMdp .divInput {
        font-size: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Modal titre */
    .modal-title {
        font-size: 2.25em;
    }

    /*Formulaire de commande individuelle */

    #commandeFormInd label {
        font-size: 1.5em;
    }

    #sandwichCarousel img, #dessertCarousel img,#sandwich1Carousel img, #sandwich2Carousel img {
        width: 100%;
        height: 400px;
    }

    #boissonCarousel img {
        width: 100%;
        height: 700px;
    }

    .carousel-inner input {
        height: 125px;
    }

    #commandeFormInd #screenRight, #commandeFormGroupe #screenRight{
        margin-left: unset;
    }

}