{% extends 'base.html.twig' %}

{% block title %}Modifier une classe{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}


{% block body %}
    <main>
        <h1>Modifier une classe</h1>

        {% for message in app.flashes('SuccessClasse') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div>
            <div class="container-fluid formEntité">
                {{ include('classe/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit"
                 class="btn btn-success" form="formClasse">
                    Modifier la classe
                </button>
                <a href="{{ path('classe_index') }}"
                 class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>    
{% endblock %}
