{% extends 'base.html.twig' %}

{% block title %}Modifier un lieu de livraison{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1>Modifier un lieu de livraison</h1>

        {% for message in app.flashes('SuccessLieu') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div>
            <div class="container-fluid formEntité" id="formLieu">
                {{ include('lieu_livraison/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout" class="form-actions">
                <button type="submit" class="btn btn-success" form="lieuForm">
                    Modifier le lieu de livraison
                </button>
                <a href="{{ path('lieu_livraison_index') }}">
                    <button class="btn btn-secondary" id="btnRetour">
                        Revenir dans la liste
                    </button>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
