{% extends 'base.html.twig' %}

{% block title %}Suppression d'un sandwich{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/admin.css') }}">{% endblock %}
{% block body %}
    <main class="container-fluid">
        <h1>Suppression d'un sandwich</h1>
        <h2>Cliquez sur le bouton Supprimer pour supprimer le sandwich choisi : {{ sandwich.nomSandwich }}</h2>

        <div id="warning">
            <p><i class="fas fa-exclamation-triangle"></i> Attention : toutes les commandes incluant ce sandwich vont
                être supprimées.</p>
        </div>

        {{ include('sandwich/_delete_form.html.twig') }}

        <div>
            <a href="{{ path('sandwich_index') }}">
                <button class="btn btn-secondary" id="btnRetourSuppr">
                    Revenir à la liste
                </button>
            </a>
        </div>
    </main>
{% endblock %}