<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
    <script src="https://kit.fontawesome.com/b33430525b.js" crossorigin="anonymous"></script>
</html>