{% extends 'base.html.twig' %}

{% block title %}Modifier un dessert{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/admin.css') }}">
{% endblock %}
{% block body %}
    <main class="container-fluid">
        <h1>Modifier un dessert</h1>

        {% for message in app.flashes('SuccessDessert') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div>
            <div class="container-fluid formEntité2" id="formDessert">
                {{ include('dessert/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="dessertForm">
                    Modifier le dessert
                </button>
                <a href="{{ path('dessert_index') }}"
                   class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}
