{% extends 'base.html.twig' %}

{% block title %}Suppression d'une boisson {% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <main>
        <h1>Suppression d'une boisson</h1>

        <h2>Appuyer sur le bouton Supprimer pour supprimer la boisson choisir : {{boisson.nomBoisson}}</h2>

        <div id="warning">
            <p><i class="fas fa-exclamation-triangle"></i> Attention : toutes les commandes faites avec cette boisson vont être supprimés.</p>
        </div>

        {{ include('boisson/_delete_form.html.twig') }}

        <div>
            <a href="{{ path('boisson_index') }}"
               class="btn btn-secondary" id="btnRetourSuppr">
                Revenir à la liste
            </a>
        </div>
    </main>
{% endblock %}
